nodered/export.json
[{"id":"95d09eeb.030ff","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e794cb6c.cb31f8","type":"serial in","z":"95d09eeb.030ff","name":"","serial":"4a7b3158.f1b35","x":340,"y":480,"wires":[["2e145873.6ad488"]]},{"id":"445f4aee.dbd474","type":"debug","z":"95d09eeb.030ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":300,"wires":[]},{"id":"c41f0932.56f628","type":"nmea","z":"95d09eeb.030ff","name":"","property":"payload","outputProperty":"payload","x":690,"y":480,"wires":[["55870d3.c0d05f4"]]},{"id":"2e145873.6ad488","type":"switch","z":"95d09eeb.030ff","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GNGLL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":480,"wires":[["c41f0932.56f628"]]},{"id":"2a66fe98.e8cdb2","type":"function","z":"95d09eeb.030ff","name":"","func":"//define the deviceid\nmsg.payload.deviceid = 'car01'\n\n//transform timestamp to Int\nvar ts = Math.floor(Date.now() / 1000)\nmsg.payload.timestamp = ts\n\n//delete unused fields\ndelete msg.payload.sentence\ndelete msg.payload.type\ndelete msg.payload.latPole\ndelete msg.payload.lonPole\ndelete msg.payload.status\ndelete msg.payload.talker_id\n\n//return the message with payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":480,"wires":[["e6d22d6a.fd50f","445f4aee.dbd474"]]},{"id":"55870d3.c0d05f4","type":"switch","z":"95d09eeb.030ff","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"valid","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":480,"wires":[["2a66fe98.e8cdb2"]]},{"id":"e6d22d6a.fd50f","type":"mqtt out","z":"95d09eeb.030ff","name":"","topic":"cartrack","qos":"0","retain":"false","broker":"dbe36cf2.045d7","x":1200,"y":480,"wires":[]},{"id":"4a7b3158.f1b35","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dbe36cf2.045d7","type":"mqtt-broker","name":"","broker":"a25v3hneylcafa-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"fb00d02f.ca8bd","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb00d02f.ca8bd","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"9dd4569549-certificate.pem.crt","keyname":"9dd4569549-private.pem.key","caname":"root-CA.crt","servername":"","verifyservercert":false}]
